.post{
    height: 300px;
    width: 450px;
    padding: 20px;
    margin: 20px;
    border: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
